body
  background-color: #aaa
  font-family: helvetica neue
  font-weight: 300

button
  cursor: pointer

.content
  width: 290px
  height: 220px
  padding: 15px
  border: 1px solid #e1e8ed
  border-radius: 5px
  background-color: #fff

.header
  margin-bottom: 10px
  font-size: 18px
  color: #66757f

.user
  &-content
    cursor: pointer
    margin-right: 10px

    &:hover
      .user-name
        color: #0084b4
        text-decoration: underline

  &-pic
    width: 48px
    height: @width
    border-radius: 5px
    vertical-align: top

  &-description
    display: inline-block
    width: 180px
    margin-left: 20px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    text-decoration: none
    color: #8899a6
    cursor: pointer

  &-name
    color: #292f33
    font-weight: 700
    font-size: 13px

  &-nick
    margin-left: 5px
    color: #8899a6
    font-size: 13px

  &-close
    float: right
    border: none
    color: #8899a6
    background-color: #fff
